<div class="row my-5">
  <div class="col-12 col-md-4"></div>
  <div class="col-12 col-md-4 text-center">
    This is the TODO App
    <br>
    Bye!
  </div>
  <div class="col-12 col-md-4"></div>
</div>
</div>