// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$SeaShell: #FFF5EE;
table#task {
  background-color: $SeaShell;
  border-radius: 5px;
  text-align: center;
} 

h1{
  text-align: center;
}

a:hover {
  cursor: pointer;
  background: #ECC5C0;
}

.btn-primary{
  background-color: #ECC5C0 !important;
  color:  #786D5F !important;
  border: none !important;
}

.btn-primary:hover{
  color: #FFFFFF !important;
}